<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
</head>
<body>

<h1>Customers</h1>

<a th:href="@{/customer/new}">Create New Customer</a>

<h2>Search by ID</h2>
<form th:action="@{/customer/search}" method="get">
    <input type="number" name="id" placeholder="Enter ID" required>
    <button type="submit">Search</button>
</form>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>LastName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${iterable}">
        <td th:text="${customer.id}">1</td>
        <td th:text="${customer.firstName}">firstName</td>
        <td th:text="${customer.lastName}">lastName</td>
    </tr>
    </tbody>
</table>

</body>
</html>